Repository l4b4r4b4b4/fractal-agents-runtime: changes, and which lefthook commands are due for each by the changed paths.
All: python-lint, ts-lint, python-openapi, ts-openapi

lefthook.yml:

# Lefthook — Git hooks for Fractal Agents Runtime monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    python-lint:
      root: apps/python/
      glob: "*.py"
      run: uv run ruff check --fix {staged_files} && uv run ruff format {staged_files}
      stage_fixed: true

    ts-lint:
      root: apps/ts/
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

    python-openapi:
      root: apps/python/
      glob: "*.py"
      run: uv run python scripts/generate_openapi.py -o openapi-spec.json
      stage_fixed: true

    ts-openapi:
      root: apps/ts/
      glob: "*.ts"
      run: bun run scripts/generate-openapi.ts
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    no-merge-commits:
      run: |
        # Reject merge commits — enforce rebase workflow for linear history.
        # Checks all commits being pushed that aren't on the remote yet.
        MERGE_COMMITS=$(git log --merges --oneline @{upstream}..HEAD 2>/dev/null)
        if [ -n "$MERGE_COMMITS" ]; then
          echo "❌ Merge commits detected — use rebase instead:"
          echo "$MERGE_COMMITS"
          echo ""
          echo "Fix: git rebase --onto <target> <merge-base> <branch>"
          exit 1
        fi
    python-test:
      root: apps/python/
      run: >
        uv run pytest -q --cov --cov-report=json --cov-report=xml --cov-report=term:skip-covered
        && uv run coverage-threshold

    python-diff-cover:
      root: apps/python/
      run: uv run diff-cover coverage.xml --fail-under=73 --compare-branch=origin/development

    ts-test:
      root: apps/ts/
      run: bun test

    python-lint-check:
      root: apps/python/
      run: uv run ruff check . && uv run ruff format --check .

    ts-type-check:
      root: apps/ts/
      run: bunx tsc --noEmit

    python-openapi-validate:
      root: apps/python/
      run: uv run python scripts/generate_openapi.py --validate

    ts-openapi-validate:
      root: apps/ts/
      run: bun run scripts/generate-openapi.ts --validate

chore(release): add python changelog for 0.1.1
  .agent/goals/47-Python-Release-0.1.1/Task-01-Release-Branch-And-Changelog/scratchpad.md
  .agent/goals/47-Python-Release-0.1.1/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/CHANGELOG.md
  apps/python/pyproject.toml
Due: none

chore(release): add python changelog for 0.1.1 (#61)
  .agent/goals/47-Python-Release-0.1.1/Task-01-Release-Branch-And-Changelog/scratchpad.md
  .agent/goals/47-Python-Release-0.1.1/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/CHANGELOG.md
  apps/python/pyproject.toml
Due: none

fix(devops): move uv lock sync to pre-commit, freeze pre-push hooks
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/Task-01-Pre-Push-Frozen-Uv-Run/scratchpad.md
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/scratchpad.md
  apps/python/CHANGELOG.md
  apps/python/pyproject.toml
  apps/python/uv.lock
  lefthook.yml
Due: none

fix(devops): move uv lock sync to pre-commit, freeze pre-push hooks (#62)
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/Task-01-Pre-Push-Frozen-Uv-Run/scratchpad.md
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/scratchpad.md
  apps/python/CHANGELOG.md
  apps/python/pyproject.toml
  apps/python/uv.lock
  lefthook.yml
Due: none

chore(release): revert to python v0.1.1, consolidate changelog, sync uv.lock
  apps/python/CHANGELOG.md
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

chore(release): revert to python v0.1.1, consolidate changelog, sync uv.lock (#63)
  apps/python/CHANGELOG.md
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

fix(ci): add explicit base ref to dorny/paths-filter in image workflows
  .github/workflows/image-python.yml
  .github/workflows/image-ts.yml
Due: none

fix(ci): add explicit base ref to dorny/paths-filter in image workflows (#64)
  .github/workflows/image-python.yml
  .github/workflows/image-ts.yml
Due: none

test: python-only trivial edit for workflow validation
  apps/python/scripts/generate_openapi.py
Due: python-lint, python-openapi

test: python and ts trivial edits for workflow validation
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/Task-01-Pre-Push-Frozen-Uv-Run/scratchpad.md
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/scratchpad.md
  apps/python/openapi-spec.json
  apps/ts/scripts/generate-openapi.ts
Due: ts-lint, ts-openapi

test: pure python-only edit for workflow validation
  apps/python/scripts/generate_openapi.py
Due: python-lint, python-openapi

test: pure ts-only edit for workflow validation
  apps/ts/scripts/generate-openapi.ts
Due: ts-lint, ts-openapi

test: python and ts trivial edits for workflow validation (#65)
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/Task-01-Pre-Push-Frozen-Uv-Run/scratchpad.md
  .agent/goals/48-Fix-Lefthook-Uv-Lock-Regeneration/scratchpad.md
  apps/python/openapi-spec.json
  apps/python/scripts/generate_openapi.py
  apps/ts/scripts/generate-openapi.ts
Due: python-lint, ts-lint, python-openapi, ts-openapi

fix(helm): guard optional secret keys in deployment template
  .bun-version
  .devops/helm/fractal-agents-runtime/templates/deployment.yaml
  .devops/helm/fractal-agents-runtime/values-testing.yaml
Due: none
