Repository l4b4r4b4b4/fractal-agents-runtime: changes, and which lefthook commands are due for each by the changed paths.
All: python-lint, ts-lint, python-openapi, ts-openapi

python-lint:
  run: uv run ruff check --fix {staged_files} && uv run ruff format {staged_files}
  stage_fixed: true

ts-lint:
  run: bunx tsc --noEmit

python-openapi:
  run: uv run python scripts/generate_openapi.py -o openapi-spec.json
  stage_fixed: true

ts-openapi:
  run: bun run scripts/generate-openapi.ts
  stage_fixed: true

chore: promote development → main (Bun version pinning + slim image) (#47)
  .bun-version
  .devops/docker/ts.Dockerfile
  .github/workflows/ci.yml
  .github/workflows/image-ts.yml
  apps/ts/src/index.ts
  flake.nix
  lefthook.yml
  package.json
  scripts/check-bun-version.sh
Due: ts-lint, ts-openapi

feat(ts): multi-provider LLM support (OpenAI, Anthropic, Google, custom)
  apps/ts/package.json
  apps/ts/src/config.ts
  apps/ts/src/graphs/react-agent/agent.ts
  apps/ts/src/graphs/react-agent/configuration.ts
  apps/ts/src/graphs/react-agent/providers.ts
  apps/ts/tests/graphs-configuration.test.ts
  apps/ts/tests/providers.test.ts
  bun.lock
Due: ts-lint, ts-openapi

chore: add Task-04 scratchpad, update flake.lock
  .agent/goals/25-TS-Runtime-V0.0.2-Auth-Persistence-Store/Task-04-Multi-Provider-LLM/scratchpad.md
  flake.lock
Due: none

feat(python): add DEBUG request logging middleware
  apps/python/pyproject.toml
  apps/python/src/server/app.py
  apps/python/src/server/config.py
  apps/python/src/server/tests/test_request_logging.py
Due: python-lint, python-openapi

feat(ts): v0.0.3 — mock LLM, k6 benchmarks, Docker, version SSoT
  .agent/goals/26-TS-Runtime-V0.0.3-MCP-Tracing-Crons/Task-06-Agent-Sync/scratchpad.md
  apps/ts/CHANGELOG.md
  apps/ts/openapi-spec.json
  apps/ts/package.json
  apps/ts/src/mcp/handlers.ts
  apps/ts/tests/index.test.ts
  benchmarks/README.md
  benchmarks/k6/agent-flow.js
  benchmarks/mock-llm/server.ts
Due: ts-lint, ts-openapi

chore: Helm chart parity + README update for v0.0.3 feature parity
  .devops/helm/fractal-agents-runtime/Chart.yaml
  .devops/helm/fractal-agents-runtime/README.md
  .devops/helm/fractal-agents-runtime/templates/deployment.yaml
  .devops/helm/fractal-agents-runtime/values.yaml
  README.md
Due: none

docs: update Goal 27 scratchpad — all tasks complete
  .agent/goals/27-TS-Runtime-V0.1.0-Full-Feature-Parity/scratchpad.md
Due: none

chore: move compose external ports to 909x range
  docker-compose.yml
Due: none

docs: update scratchpad with session 34 completion + session 35 handoff
  .agent/goals/26-TS-Runtime-V0.0.3-MCP-Tracing-Crons/Task-06-Agent-Sync/scratchpad.md
Due: none

fix: remove checkpoint_ns from configurable — LangGraph subgraph namespace conflict
  apps/python/src/server/agent.py
  apps/python/src/server/routes/streams.py
  apps/ts/src/mcp/agent.ts
  apps/ts/src/routes/runs.ts
  apps/ts/src/routes/streams.ts
Due: python-lint, ts-lint, python-openapi, ts-openapi

feat: add Langfuse v3 stack + network bridge, bump Ministral vLLM config
  .gitignore
  docker-compose.langfuse.yml
  docker-compose.yml
Due: none

docs: update scratchpads — Goal 31 complete, checkpoint_ns bug fix, benchmarks
  .agent/goals/26-TS-Runtime-V0.0.3-MCP-Tracing-Crons/Task-06-Agent-Sync/scratchpad.md
  .agent/goals/31-Local-Langfuse-V3-Dev-Stack/scratchpad.md
  .agent/goals/32-Resource-Profiled-Benchmarks/scratchpad.md
  .agent/goals/scratchpad.md
  .agent/research/music-source-separation-transcription.md
Due: none

feat: add mock-llm Docker Compose service for pure runtime overhead benchmarks
  docker-compose.yml
Due: none

docs: session 38 — mock-LLM benchmarks, Supabase auth saturation discovery
  .agent/goals/31-Local-Langfuse-V3-Dev-Stack/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

docs: create Goal 33 — TS Runtime Native Postgres Driver + Performance Investigation
  .agent/goals/33-TS-Runtime-Postgres-Native-Performance/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

feat(ts): replace pure-JS Postgres drivers with Bun.sql native driver
  .agent/goals/33-TS-Runtime-Postgres-Native-Performance/scratchpad.md
  apps/ts/package.json
  apps/ts/src/storage/bun-pool-adapter.ts
  apps/ts/src/storage/database.ts
  apps/ts/src/storage/index.ts
  apps/ts/src/storage/postgres.ts
  bun.lock
Due: ts-lint, ts-openapi

docs: update Goal 33 scratchpad with Task-04 investigation findings
  .agent/goals/33-TS-Runtime-Postgres-Native-Performance/scratchpad.md
Due: none

docs: add Session 39 to goals index
  .agent/goals/scratchpad.md
Due: none

feat(ts): graph caching + local JWT verification + perf instrumentation (Goal 33 Task-05)
  .agent/goals/33-TS-Runtime-Postgres-Native-Performance/scratchpad.md
  .agent/goals/scratchpad.md
  apps/ts/src/graphs/graph-cache.ts
  apps/ts/src/graphs/index.ts
  apps/ts/src/index.ts
  apps/ts/src/infra/security/auth.ts
  apps/ts/src/middleware/auth.ts
  apps/ts/src/routes/runs.ts
  apps/ts/src/routes/streams.ts
  apps/ts/tests/auth-local-jwt.test.ts
  apps/ts/tests/graph-cache.test.ts
Due: ts-lint, ts-openapi

fix(python): align agent_sync SQL with DocProc schema + pass name to assistants
  .agent/rnutime-assistant-name-bug.md
  .agent/runtime-schema-fix.md
  apps/python/pyproject.toml
  apps/python/src/server/agent_sync.py
  apps/python/src/server/tests/test_agent_sync_unit.py
  apps/python/uv.lock
Due: python-lint, python-openapi

fix(ts): resolve all 24 TypeScript type errors for clean CI
  apps/ts/src/a2a/handlers.ts
  apps/ts/src/agent-sync/sync.ts
  apps/ts/src/graphs/react-agent/utils/mcp-tools.ts
  apps/ts/src/graphs/research-agent/agent.ts
  apps/ts/src/index.ts
  apps/ts/src/infra/prompts.ts
  apps/ts/src/infra/security/auth.ts
  apps/ts/src/routes/assistants.ts
  apps/ts/src/storage/postgres.ts
Due: ts-lint, ts-openapi

feat(python): ChromaDB RAG retriever tool — search_archives via TEI embeddings
  .agent/goals/34-RAG-ChromaDB-Retriever-Tool/scratchpad.md
  .agent/goals/scratchpad.md
  .agent/rag-feature.md
  apps/python/openapi-spec.json
  apps/python/pyproject.toml
  apps/python/src/graphs/react_agent/agent.py
  apps/python/src/graphs/react_agent/rag/__init__.py
  apps/python/src/graphs/react_agent/rag/config.py
  apps/python/src/graphs/react_agent/rag/embeddings.py
  apps/python/src/graphs/react_agent/rag/retriever.py
  apps/python/tests/rag/__init__.py
  apps/python/tests/rag/test_config.py
  apps/python/tests/rag/test_embeddings.py
  apps/python/tests/rag/test_retriever.py
  apps/python/uv.lock
Due: python-lint, python-openapi

feat: add ChromaDB + TEI to docker-compose, seed script, E2E verified
  .agent/goals/34-RAG-ChromaDB-Retriever-Tool/scratchpad.md
  docker-compose.yml
  scripts/seed_chromadb_test.py
Due: none

fix(python): store GET/DELETE 404 — namespace normalisation + OpenAPI alignment
  apps/python/openapi-spec.json
  apps/python/src/server/openapi_spec.py
  apps/python/src/server/postgres_storage.py
  apps/python/src/server/tests/test_openapi.py
  apps/python/tests/test_normalise_namespace.py
Due: python-lint, python-openapi

docs: add goals 35-38, bug report, handoff docs, UX guide
  .agent/bugs/store-get-delete-namespace-mismatch.md
  .agent/goals/35-TS-RAG-ChromaDB-Retriever/scratchpad.md
  .agent/goals/36-Runs-Wait-Non-Streaming-Endpoint/scratchpad.md
  .agent/goals/37-ChromaDB-Multi-Tenant-Access-Control/scratchpad.md
  .agent/goals/38-Store-API-Namespace-Fix/scratchpad.md
  .agent/goals/scratchpad.md
  docs/goal-38-store-api-fix-handoff.md
  docs/rag-archive-retrieval.md
  docs/ux-store-and-crons.md
Due: none

docs: update Goal 36 scratchpad with code analysis — TS done, Python plan ready
  .agent/goals/36-Runs-Wait-Non-Streaming-Endpoint/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

feat(python): implement /runs/wait non-streaming endpoints (Goal 36, Tasks 01-02)
  .agent/goals/36-Runs-Wait-Non-Streaming-Endpoint/scratchpad.md
  apps/python/src/server/CAPABILITIES.md
  apps/python/src/server/routes/runs.py
  apps/python/src/server/routes/streams.py
  flake.lock
Due: python-lint, python-openapi

docs: mark Goal 36 complete — all E2E tests passed
  .agent/goals/36-Runs-Wait-Non-Streaming-Endpoint/scratchpad.md
Due: none

docs: Goal 35 research complete — TS RAG ChromaDB retriever plan
  .agent/goals/35-TS-RAG-ChromaDB-Retriever/scratchpad.md
Due: none

feat(ts): add ChromaDB archive RAG tool (Goal 35)
  apps/ts/src/graphs/react-agent/agent.ts
  apps/ts/src/graphs/react-agent/configuration.ts
  apps/ts/src/graphs/react-agent/utils/chromadb-rag.ts
  apps/ts/tests/chromadb-rag.test.ts
  apps/ts/tests/graphs-configuration.test.ts
Due: ts-lint, ts-openapi

chore: v0.1.0 release prep — CHANGELOG, README, .rules, version bump, k6 extension
  .agent/goals/35-TS-RAG-ChromaDB-Retriever/scratchpad.md
  .rules
  README.md
  apps/ts/CHANGELOG.md
  apps/ts/package.json
  benchmarks/k6/agent-flow.js
Due: none

docs: update goals scratchpad with Session 42 activity log
  .agent/goals/scratchpad.md
Due: none

fix(python): patch _auth_enabled in middleware tests for CI
  apps/python/src/server/tests/test_auth.py
Due: python-lint, python-openapi

chore: bump Python version to 0.1.0 for release
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

chore: bump Python version to 0.1.0 for release (#52)
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

Path conditions:
  python-lint: any of: *.py and ^apps/python/
  ts-lint: any of: *.{ts,tsx} and ^apps/ts/
  python-openapi: any of: *.py and ^apps/python/
  ts-openapi: any of: *.ts and ^apps/ts/
