Repository l4b4r4b4b4/fractal-agents-runtime: changes, and which lefthook commands are due for each by the changed paths.
All: python-lint, ts-lint, python-openapi, ts-openapi

lefthook.yml:

# Lefthook â€” Git hooks for Fractal Agents Runtime monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    python-lint:
      root: apps/python/
      glob: "*.py"
      run: uv run ruff check --fix {staged_files} && uv run ruff format {staged_files}
      stage_fixed: true

    ts-lint:
      root: apps/ts/
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

    python-openapi:
      root: apps/python/
      glob: "*.py"
      run: uv run python scripts/generate_openapi.py -o openapi-spec.json
      stage_fixed: true

    ts-openapi:
      root: apps/ts/
      glob: "*.ts"
      run: bun run scripts/generate-openapi.ts
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    python-test:
      root: apps/python/
      run: uv run pytest -q

    ts-test:
      root: apps/ts/
      run: bun test

    python-lint-check:
      root: apps/python/
      run: uv run ruff check . && uv run ruff format --check .

    ts-type-check:
      root: apps/ts/
      run: bunx tsc --noEmit

    python-openapi-validate:
      root: apps/python/
      run: uv run python scripts/generate_openapi.py --validate

    ts-openapi-validate:
      root: apps/ts/
      run: bun run scripts/generate-openapi.ts --validate

fix(database): eliminate shared AsyncConnectionPool — use per-request connections
  apps/python/src/server/agent.py
  apps/python/src/server/agent_sync.py
  apps/python/src/server/app.py
  apps/python/src/server/database.py
  apps/python/src/server/postgres_storage.py
  apps/python/src/server/routes/assistants.py
  apps/python/src/server/routes/streams.py
  apps/python/src/server/storage.py
  apps/python/src/server/tests/conftest.py
  apps/python/src/server/tests/test_database.py
Due: python-lint, python-openapi

chore: fix Pydantic v2 deprecation warnings, drop explicit langgraph-sdk dep
  apps/python/pyproject.toml
  apps/python/src/graphs/react_agent/agent.py
  apps/python/uv.lock
Due: python-lint, python-openapi

docs: close Goal 20 + BUG-01 — update scratchpads with resolution details
  .agent/goals/20-Rename-Robyn-Server-Module/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

docs: close Goal 20 + BUG-01 — update scratchpads with resolution details (#26)
  .agent/goals/20-Rename-Robyn-Server-Module/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

chore: add pytest-cov + coverage config (fail_under=73), create Goal 21
  .agent/goals/21-Test-Coverage-73-Percent/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

fix: Goal 18 assistant config propagation + Goal 21 coverage progress (48% → 66%)
  apps/python/src/server/app.py
  apps/python/src/server/postgres_storage.py
  apps/python/src/server/storage.py
  apps/python/src/server/tests/conftest_routes.py
  apps/python/src/server/tests/test_agent_sync_unit.py
  apps/python/src/server/tests/test_goal18_bugs.py
  apps/python/src/server/tests/test_postgres_storage_unit.py
  apps/python/src/server/tests/test_route_handlers.py
Due: python-lint, python-openapi

docs: update Goal 18 + Goal 21 scratchpads with session 9 progress
  .agent/goals/18-Assistant-Config-Propagation-Fix/scratchpad.md
  .agent/goals/21-Test-Coverage-73-Percent/scratchpad.md
Due: none

fix: route handler tests + coverage tooling (74%, 867 tests)
  .github/workflows/ci.yml
  README.md
  apps/python/.gitignore
  apps/python/pyproject.toml
  apps/python/src/server/tests/test_route_handlers.py
  apps/python/uv.lock
  lefthook.yml
Due: python-lint, python-openapi

fix: Goal 18 + 21 — Assistant config propagation fix + 73% test coverage (#27)
  .agent/goals/18-Assistant-Config-Propagation-Fix/scratchpad.md
  .agent/goals/21-Test-Coverage-73-Percent/scratchpad.md
  .agent/goals/scratchpad.md
  .github/workflows/ci.yml
  README.md
  apps/python/.gitignore
  apps/python/pyproject.toml
  apps/python/src/server/app.py
  apps/python/src/server/postgres_storage.py
  apps/python/src/server/storage.py
  apps/python/src/server/tests/conftest_routes.py
  apps/python/src/server/tests/test_agent_sync_unit.py
  apps/python/src/server/tests/test_goal18_bugs.py
  apps/python/src/server/tests/test_postgres_storage_unit.py
  apps/python/src/server/tests/test_route_handlers.py
  apps/python/uv.lock
  lefthook.yml
Due: python-lint, python-openapi

feat: unified Helm chart + README/CONTRIBUTING rewrite (Goal 22)
  .devops/helm/fractal-agents-runtime/.helmignore
  .devops/helm/fractal-agents-runtime/Chart.yaml
  .devops/helm/fractal-agents-runtime/README.md
  .devops/helm/fractal-agents-runtime/templates/NOTES.txt
  .devops/helm/fractal-agents-runtime/templates/_helpers.tpl
  .devops/helm/fractal-agents-runtime/templates/configmap.yaml
  .devops/helm/fractal-agents-runtime/templates/deployment.yaml
  .devops/helm/fractal-agents-runtime/templates/hpa.yaml
  .devops/helm/fractal-agents-runtime/templates/ingress.yaml
  .devops/helm/fractal-agents-runtime/templates/networkpolicy.yaml
  .devops/helm/fractal-agents-runtime/templates/pdb.yaml
  .devops/helm/fractal-agents-runtime/templates/prometheusrule.yaml
  .devops/helm/fractal-agents-runtime/templates/secret.yaml
  .devops/helm/fractal-agents-runtime/templates/service.yaml
  .devops/helm/fractal-agents-runtime/templates/serviceaccount.yaml
  .devops/helm/fractal-agents-runtime/templates/servicemonitor.yaml
  .devops/helm/fractal-agents-runtime/values-dev.yaml
  .devops/helm/fractal-agents-runtime/values-prod.yaml
  .devops/helm/fractal-agents-runtime/values-staging.yaml
  .devops/helm/fractal-agents-runtime/values-testing.yaml
  .devops/helm/fractal-agents-runtime/values-ts.yaml
  .devops/helm/fractal-agents-runtime/values.yaml
  CONTRIBUTING.md
  README.md
  apps/python/src/server/helm/robyn-runtime/.helmignore
  apps/python/src/server/helm/robyn-runtime/Chart.yaml
  apps/python/src/server/helm/robyn-runtime/README.md
  apps/python/src/server/helm/robyn-runtime/templates/NOTES.txt
  apps/python/src/server/helm/robyn-runtime/templates/_helpers.tpl
  apps/python/src/server/helm/robyn-runtime/templates/configmap.yaml
  apps/python/src/server/helm/robyn-runtime/templates/deployment.yaml
  apps/python/src/server/helm/robyn-runtime/templates/networkpolicy.yaml
  apps/python/src/server/helm/robyn-runtime/values-dev.yaml
  apps/python/src/server/helm/robyn-runtime/values-prod.yaml
  apps/python/src/server/helm/robyn-runtime/values-staging.yaml
  apps/python/src/server/helm/robyn-runtime/values.yaml
  docker-compose.yml
Due: none

docs: create Goal 23 (Vertriebsagent graph) + Goal 24 (Langfuse prompt templates)
  .agent/goals/23-Vertriebsagent-Graph/scratchpad.md
  .agent/goals/24-Langfuse-Prompt-Templates/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

feat: research agent graph + Langfuse prompt integration + tests
  .agent/goals/23-Vertriebsagent-Graph/scratchpad.md
  .agent/goals/24-Langfuse-Prompt-Templates/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/.env.example
  apps/python/src/graphs/react_agent/agent.py
  apps/python/src/graphs/registry.py
  apps/python/src/graphs/research_agent/__init__.py
  apps/python/src/graphs/research_agent/configuration.py
  apps/python/src/graphs/research_agent/graph.py
  apps/python/src/graphs/research_agent/models.py
  apps/python/src/graphs/research_agent/prompts.py
  apps/python/src/graphs/research_agent/worker.py
  apps/python/src/infra/__init__.py
  apps/python/src/infra/prompts.py
  apps/python/src/server/agent.py
  apps/python/src/server/app.py
  apps/python/src/server/routes/streams.py
  apps/python/src/server/tests/test_prompts.py
  apps/python/src/server/tests/test_research_agent.py
  apps/python/src/server/tests/test_streams.py
Due: python-lint, python-openapi

fix: lower diff-cover threshold from 80% to 73% to match overall target
  .github/workflows/ci.yml
  lefthook.yml
Due: none

test: boost diff-cover to 81% with factory + MCP integration tests
  apps/python/src/server/tests/test_research_agent.py
Due: python-lint, python-openapi

release: fix release.yml for monorepo + bump python to 0.0.1
  .github/workflows/release.yml
  apps/python/pyproject.toml
Due: none

release: fix release workflow for monorepo + bump python to 0.0.1 (#32)
  .github/workflows/release.yml
  apps/python/pyproject.toml
Due: none

release: bump python to 0.0.2 + regenerate uv.lock
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

release: bump python to 0.0.2 + regenerate uv.lock (#33)
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

fix: use .npmrc for npm auth instead of BUN_AUTH_TOKEN env var
  .github/workflows/release.yml
Due: none

fix: use .npmrc for npm auth instead of BUN_AUTH_TOKEN env var (#34)
  .github/workflows/release.yml
Due: none

fix: write .npmrc to project dir + set NPM_CONFIG_USERCONFIG + BUN_AUTH_TOKEN
  .github/workflows/release.yml
Due: none

fix: npm auth — write .npmrc to project dir + env var fallbacks (#35)
  .github/workflows/release.yml
Due: none

fix: use npm publish instead of bun publish (Bun 1.3.9 auth bug)
  .github/workflows/release.yml
Due: none

fix: use npm publish instead of bun publish (Bun auth bug) (#36)
  .github/workflows/release.yml
Due: none

fix: write .npmrc to ~/.npmrc — npm ignores workspace-level config
  .github/workflows/release.yml
Due: none

fix: write .npmrc to ~/.npmrc — npm ignores workspace-level config (#37)
  .github/workflows/release.yml
Due: none

fix(docker): copy bun.lock from repo root, not apps/ts/
  .devops/docker/ts.Dockerfile
Due: none

fix(docker): copy bun.lock from repo root (#40)
  .devops/docker/ts.Dockerfile
Due: none

fix(docker): drop --frozen-lockfile for workspace-scoped lockfile
  .devops/docker/ts.Dockerfile
Due: none

fix(docker): drop --frozen-lockfile for workspace-scoped lockfile (#42)
  .devops/docker/ts.Dockerfile
Due: none

fix(docker): don't copy workspace-scoped bun.lock into build
  .devops/docker/ts.Dockerfile
Due: none

fix(docker): don't copy workspace-scoped bun.lock into build (#44)
  .devops/docker/ts.Dockerfile
Due: none

feat(ts): pin Bun version, slim Docker image, version consistency
  .bun-version
  .devops/docker/ts.Dockerfile
  .github/workflows/ci.yml
  .github/workflows/image-ts.yml
  apps/ts/src/index.ts
  flake.nix
  lefthook.yml
  package.json
  scripts/check-bun-version.sh
Due: ts-lint, ts-openapi

feat(ts): pin Bun version, slim Docker image, version consistency (#46)
  .bun-version
  .devops/docker/ts.Dockerfile
  .github/workflows/ci.yml
  .github/workflows/image-ts.yml
  apps/ts/src/index.ts
  flake.nix
  lefthook.yml
  package.json
  scripts/check-bun-version.sh
Due: ts-lint, ts-openapi
