Repository l4b4r4b4b4/fractal-agents-runtime: changes, and which lefthook commands are due for each by the changed paths.
All: python-lint, ts-lint, python-openapi, ts-openapi

lefthook.yml:

# Lefthook — Git hooks for Fractal Agents Runtime monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    python-lint:
      root: apps/python/
      glob: "*.py"
      run: uv run ruff check --fix {staged_files} && uv run ruff format {staged_files}
      stage_fixed: true

    ts-lint:
      root: apps/ts/
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

    python-openapi:
      root: apps/python/
      glob: "*.py"
      run: uv run python scripts/generate_openapi.py -o openapi-spec.json
      stage_fixed: true

    ts-openapi:
      root: apps/ts/
      glob: "*.ts"
      run: bun run scripts/generate-openapi.ts
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    no-merge-commits:
      run: |
        # Reject merge commits — enforce rebase workflow for linear history.
        # Checks all commits being pushed that aren't on the remote yet.
        MERGE_COMMITS=$(git log --merges --oneline @{upstream}..HEAD 2>/dev/null)
        if [ -n "$MERGE_COMMITS" ]; then
          echo "❌ Merge commits detected — use rebase instead:"
          echo "$MERGE_COMMITS"
          echo ""
          echo "Fix: git rebase --onto <target> <merge-base> <branch>"
          exit 1
        fi
    python-test:
      root: apps/python/
      run: >
        uv run pytest -q --cov --cov-report=json --cov-report=xml --cov-report=term:skip-covered
        && uv run coverage-threshold

    python-diff-cover:
      root: apps/python/
      run: uv run diff-cover coverage.xml --fail-under=73 --compare-branch=origin/development

    ts-test:
      root: apps/ts/
      run: bun test

    python-lint-check:
      root: apps/python/
      run: uv run ruff check . && uv run ruff format --check .

    ts-type-check:
      root: apps/ts/
      run: bunx tsc --noEmit

    python-openapi-validate:
      root: apps/python/
      run: uv run python scripts/generate_openapi.py --validate

    ts-openapi-validate:
      root: apps/ts/
      run: bun run scripts/generate-openapi.ts --validate

docs: update goals scratchpad — v0.1.0 released, goals 02/25-38 complete
  .agent/goals/scratchpad.md
Due: none

docs: update goals scratchpad — v0.1.0 released (#53)
  .agent/goals/scratchpad.md
Due: none

docs(goal-40): create task directories and scratchpads for hardware key encryption server implementation
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-01-Protocol-Research/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-02-Supabase-Schema/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-03-DB-Cron-Cleanup/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-04-Python-Key-Service/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-05-Python-Encryption-Service/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-06-Python-Key-Routes/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-07-TS-Key-Service/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

feat(goal-40): hardware key service + encryption service + protocol design
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-01-Protocol-Design/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-03-DB-Cron-Cleanup/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-03-Server-Side-Key-Services/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
  apps/python/src/server/encryption_service.py
  apps/python/src/server/hardware_key_models.py
  apps/python/src/server/hardware_key_service.py
Due: python-lint, python-openapi

docs: update goals index with Session 23 activity log
  .agent/goals/scratchpad.md
Due: none

feat(goal-40): Task-06 Python API routes for hardware key management
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-06-Python-Key-Routes/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
  apps/python/src/server/app.py
  apps/python/src/server/routes/__init__.py
  apps/python/src/server/routes/hardware_keys.py
  apps/python/src/server/tests/test_hardware_key_routes.py
Due: python-lint, python-openapi

feat(goal-40): TS hardware key service + routes (task-07)
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-07-TS-Key-Service/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
  .agent/goals/scratchpad.md
  apps/ts/src/config.ts
  apps/ts/src/index.ts
  apps/ts/src/lib/auth.ts
  apps/ts/src/lib/db.ts
  apps/ts/src/models/hardware-keys.ts
  apps/ts/src/routes/hardware-keys.ts
  apps/ts/src/services/encryption-service.ts
  apps/ts/src/services/hardware-key-service.ts
  apps/ts/tests/hardware-keys.test.ts
Due: ts-lint, ts-openapi

fix(goal-40): sql.array() bugfix + 143 new tests + docker-compose bun-server
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-07-TS-Key-Service/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
  apps/ts/src/services/encryption-service.ts
  apps/ts/src/services/hardware-key-service.ts
  apps/ts/tests/auth.test.ts
  apps/ts/tests/db.test.ts
  apps/ts/tests/hardware-keys-models.test.ts
  docker-compose.yml
Due: ts-lint, ts-openapi

fix(goal-40): Bun.sql array bugs + integration test for all 18 endpoints
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
  .agent/goals/41-FastMCP-Supabase-UserData-Tool/scratchpad.md
  .agent/goals/scratchpad.md
  apps/ts/src/lib/db.ts
  apps/ts/src/services/encryption-service.ts
  apps/ts/src/services/hardware-key-service.ts
  apps/ts/tests/db.test.ts
  apps/ts/tests/integration/hardware-keys-integration.ts
Due: ts-lint, ts-openapi

docs(goal-40): session 29 progress — all 18 endpoints verified, PR #54 opened
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/Task-07-TS-Key-Service/scratchpad.md
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
Due: none

fix(python): enable multi-LLM streaming and per-node update events
  apps/python/src/server/routes/streams.py
Due: python-lint, python-openapi

feat(goal-42): semantic router integration — shared LLM factory, model override, metadata, docker compose, docs
  .agent/goals/42-Semantic-Router-Integration/Task-01-Research-Architecture/scratchpad.md
  .agent/goals/42-Semantic-Router-Integration/Task-02-Shared-LLM-Factory/scratchpad.md
  .agent/goals/42-Semantic-Router-Integration/Task-03-Call-Time-Model-Override/scratchpad.md
  .agent/goals/42-Semantic-Router-Integration/Task-04-Routing-Metadata-Passthrough/scratchpad.md
  .agent/goals/42-Semantic-Router-Integration/Task-05-Testing-Documentation/scratchpad.md
  .agent/goals/42-Semantic-Router-Integration/scratchpad.md
  .agent/goals/scratchpad.md
  .agent/user-stories/semantic-router-integration.md
  .gitignore
  README.md
  apps/python/src/graphs/configuration.py
  apps/python/src/graphs/llm.py
  apps/python/src/graphs/react_agent/agent.py
  apps/python/src/graphs/research_agent/__init__.py
  apps/python/src/graphs/research_agent/configuration.py
  apps/python/src/server/tests/test_research_agent.py
  apps/python/tests/test_llm_factory.py
  config/semantic-router/config.yaml
  docker-compose.semantic-router.yml
  docs/semantic-router.md
Due: python-lint, python-openapi

test(goal-40): hardware key models — 73 tests, 100% coverage (224 stmts)
  apps/python/tests/test_hardware_key_models.py
Due: python-lint, python-openapi

fix(ci): pre-push hook race condition — chain diff-cover after pytest
  lefthook.yml
Due: none

test(goal-40): hardware key service + encryption service pure functions — 140 tests
  apps/python/tests/test_encryption_service.py
  apps/python/tests/test_hardware_key_service.py
Due: python-lint, python-openapi

test(goal-40): async DB function tests + QueryParams.get() fix — 130 tests, 100% service coverage
  apps/python/src/server/routes/hardware_keys.py
  apps/python/tests/test_encryption_service_async.py
  apps/python/tests/test_hardware_key_service_async.py
Due: python-lint, python-openapi

docs: session 30 progress — async DB tests, QueryParams fix, live verification
  .agent/goals/40-Hardware-Key-Encryption-Pipeline/scratchpad.md
  .agent/goals/scratchpad.md
Due: none

docs: update Goal 40 last-updated date
  .agent/goals/scratchpad.md
Due: none

feat(goal-42): semantic router Phase B — GPT-5.2/4.1 models, OCR/Ministral routing, webapp integration guide
  .agent/goals/06-Robyn-Runtime/Task-09-Integration-Testing/scratchpad.md
  .agent/goals/06-Robyn-Runtime/scratchpad.md
  .agent/goals/42-Semantic-Router-Integration/scratchpad.md
  .devops/helm/fractal-agents-runtime/values-dev.yaml
  apps/python/src/graphs/llm.py
  apps/python/src/server/DEPLOYMENT.md
  apps/python/src/server/README.md
  apps/python/tests/test_llm_factory.py
  config/semantic-router/config.yaml
  docker-compose.semantic-router.yml
  docs/semantic-router.md
  docs/webapp-integration-guide.md
Due: python-lint, python-openapi

fix: pre-push hooks sequential fail-fast + fix TS mock.module() pollution
  apps/ts/tests/hardware-keys.test.ts
  lefthook.yml
Due: ts-lint, ts-openapi

fix(ci): add pull-requests:read permission for dorny/paths-filter
  .github/workflows/ci.yml
Due: none

fix(python): multi-LLM streaming and per-node update events
  apps/python/src/server/routes/streams.py
  apps/python/src/server/tests/test_streams.py
Due: python-lint, python-openapi

fix(python): multi-LLM streaming and per-node update events (#57)
  apps/python/src/server/routes/streams.py
  apps/python/src/server/tests/test_streams.py
Due: python-lint, python-openapi

feat(agent-sync): remove automatic startup sync (Goal 43)
  .agent/goals/42-Semantic-Router-Integration/scratchpad.md
  .agent/goals/43-Exclude-Template-Agents-From-Startup-Sync/scratchpad.md
  .agent/goals/scratchpad.md
  .bun-version
  apps/python/src/server/agent_sync.py
  apps/python/src/server/app.py
  apps/python/src/server/tests/test_agent_sync_unit.py
  flake.lock
Due: python-lint, python-openapi

feat(agent-sync): remove automatic startup sync (Goal 43) (#58)
  .agent/goals/42-Semantic-Router-Integration/scratchpad.md
  .agent/goals/43-Exclude-Template-Agents-From-Startup-Sync/scratchpad.md
  .agent/goals/scratchpad.md
  .bun-version
  apps/python/src/server/agent_sync.py
  apps/python/src/server/app.py
  apps/python/src/server/tests/test_agent_sync_unit.py
  flake.lock
Due: python-lint, python-openapi

feat(goal-44+45): fix get_config outside runnable context + plan MCP token forwarding
  .agent/bugs/runtime-bug-get-config-outside-context.md
  .agent/bugs/runtime-bug-mcp-tokens-not-forwarded.md
  .agent/goals/44-Fix-MCP-Token-Fetch-Outside-Runnable-Context/scratchpad.md
  .agent/goals/45-Fix-MCP-Tokens-Not-Forwarded/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/src/graphs/react_agent/agent.py
  apps/python/src/graphs/react_agent/utils/token.py
  apps/python/src/server/tests/test_token.py
  apps/python/uv.lock
Due: python-lint, python-openapi

feat(goal-45): fix MCP auth token forwarding and align with LangGraph API
  .agent/goals/45-Fix-MCP-Tokens-Not-Forwarded/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/src/graphs/react_agent/agent.py
  apps/python/src/graphs/react_agent/utils/token.py
  apps/python/src/graphs/research_agent/__init__.py
  apps/python/src/server/agent.py
  apps/python/src/server/auth.py
  apps/python/src/server/routes/streams.py
  apps/python/src/server/tests/test_auth.py
  apps/python/src/server/tests/test_mcp.py
  apps/python/src/server/tests/test_streams.py
  apps/python/src/server/tests/test_token.py
Due: python-lint, python-openapi

feat(vertraiebsworkflow): add new vertriebsworkflow graph for automated real estate project search
  .cursorignore
  apps/python/pyproject.toml
  apps/python/src/graphs/registry.py
  apps/python/src/graphs/vertriebsworkflow/__init__.py
  apps/python/src/graphs/vertriebsworkflow/graph.py
  apps/python/src/graphs/vertriebsworkflow/models.py
  apps/python/src/graphs/vertriebsworkflow/prompts.py
  apps/python/src/graphs/vertriebsworkflow/worker_subgraph.py
  apps/python/tests/test_vertriebsworkflow.py
  apps/python/uv.lock
Due: python-lint, python-openapi

refactor(graph.py, test_vertriebsworkflow.py): improve code readability and formatting
  apps/python/src/graphs/vertriebsworkflow/graph.py
  apps/python/tests/test_vertriebsworkflow.py
Due: python-lint, python-openapi

refactor(vertriebsworkflow): improve code formatting and readability
  apps/python/src/graphs/registry.py
  apps/python/src/graphs/vertriebsworkflow/models.py
  apps/python/src/graphs/vertriebsworkflow/worker_subgraph.py
Due: python-lint, python-openapi

fix/vertriebsworkflow: add unit tests and fix CI coverage failure
  apps/python/src/graphs/vertriebsworkflow/worker_subgraph.py
  apps/python/tests/test_vertriebsworkflow.py
Due: python-lint, python-openapi

feat/vertriebsworkflow: add Vertriebsworkflow graph for automated real estate project search (#59)
  .cursorignore
  apps/python/pyproject.toml
  apps/python/src/graphs/registry.py
  apps/python/src/graphs/vertriebsworkflow/__init__.py
  apps/python/src/graphs/vertriebsworkflow/graph.py
  apps/python/src/graphs/vertriebsworkflow/models.py
  apps/python/src/graphs/vertriebsworkflow/prompts.py
  apps/python/src/graphs/vertriebsworkflow/worker_subgraph.py
  apps/python/src/server/routes/streams.py
  apps/python/tests/test_vertriebsworkflow.py
  apps/python/uv.lock
Due: python-lint, python-openapi

fix: use Robyn Headers.get_headers() API for configurable headers extraction
  .agent/goals/45-Fix-MCP-Tokens-Not-Forwarded/scratchpad.md
  .agent/goals/46-Fix-MCP-Token-Exchange-Wrong-OAuth-Flow/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/src/graphs/react_agent/utils/token.py
  apps/python/src/server/routes/streams.py
  apps/python/src/server/tests/test_streams.py
  flake.lock
  scripts/__pycache__/seed_chromadb_test.cpython-312-pytest-8.3.5.pyc
Due: python-lint, python-openapi

fix(goal-46): replace token exchange with direct JWT pass-through; update tests and headers mock
  apps/python/src/server/tests/test_token.py
Due: python-lint, python-openapi

test(streams): use FakeRobynHeaders in build_runnable_config header test
  apps/python/src/server/tests/test_streams.py
Due: python-lint, python-openapi

fix: restore missing assistant_id arg in execute_run_stream _build_runnable_config call
  apps/python/src/server/routes/streams.py
Due: python-lint, python-openapi

chore: pin chardet<6 to silence requests RequestsDependencyWarning (chardet 7.x breaks requests 2.32.x compat check)
  apps/python/pyproject.toml
  apps/python/uv.lock
Due: none

fix(goal-46): remove RFC 8693 token exchange — pass Supabase JWT directly to MCP servers (#60)
  .agent/bugs/runtime-bug-get-config-outside-context.md
  .agent/bugs/runtime-bug-mcp-tokens-not-forwarded.md
  .agent/goals/44-Fix-MCP-Token-Fetch-Outside-Runnable-Context/scratchpad.md
  .agent/goals/45-Fix-MCP-Tokens-Not-Forwarded/scratchpad.md
  .agent/goals/46-Fix-MCP-Token-Exchange-Wrong-OAuth-Flow/scratchpad.md
  .agent/goals/scratchpad.md
  apps/python/pyproject.toml
  apps/python/src/graphs/react_agent/agent.py
  apps/python/src/graphs/react_agent/utils/token.py
  apps/python/src/graphs/research_agent/__init__.py
  apps/python/src/server/agent.py
  apps/python/src/server/auth.py
  apps/python/src/server/routes/streams.py
  apps/python/src/server/tests/test_auth.py
  apps/python/src/server/tests/test_mcp.py
  apps/python/src/server/tests/test_streams.py
  apps/python/src/server/tests/test_token.py
  apps/python/uv.lock
  flake.lock
  scripts/__pycache__/seed_chromadb_test.cpython-312-pytest-8.3.5.pyc
Due: python-lint, python-openapi
